<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>All Countries</title>
    <link th:href="@{/style.css}" rel="stylesheet"/>
    <link th:href="@{/grid.css}" rel="stylesheet"/>

</head>
<body>
<div class="container">
    <div class="main">


<div th:replace="fragments/header :: header"></div>

</br></br>


<h1 class="center"> Covid19 Statistics For All Countries</h1>
</br></br>

<div class="countryrow" th:each="countries: ${countriesList}">
    <div class="column">
        <div class="card">
            <h3 style="color:#DE2ED3" th:text=" 'Country Name: ' + ${countries.country}"></h3>
            <span th:text=" 'Total Confirmed Cases: ' + ${countries.totalConfirmed}"></span>
            </br>
            <span th:text=" 'Total Deaths Cases: ' + ${countries.totalDeaths}"></span>
            </br>
            <span th:text=" 'Total Recovered Cases: ' + ${countries.totalRecovered}"></span>
            </br>
            <span th:text=" 'Date: ' + ${countries.dateString}"></span>
            </br>
            </br>
            <form method="post" action="/addrecord">
                <input type="hidden" th:value="${countries.country_id}" name="country_id">
                <input type="submit" class="button" value="ADD TO MY RECORDS">
            </form>
            </br>
        </div>

    </div>
</div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>